@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/jquery-ui-1.9.2.js"></script>

<div id="canvasContainer">
    <canvas  height="500" width="500" id="canvas" class="canvas" ></canvas>
</div>
<div id ="message" style="position:absolute;top:420px;left:0px" ></div>
<div id ="display" style="position:absolute;top:450px;left:0px" ></div>
<div id ="titleDiv"class="titleDiv" >
    Space Rogue Revolution -the big jobs
</div>
<div id ="menu" class="menu" >
      <a src="#" onclick="$('#HowToPlayDiv').show(1000);" >How to play</a>
      <input type="button" class="inputSibling" value="How to Play" onclick="$('#HowToPlayDiv').show(1000);" />
</div>

<div id ="serverprocessingdisplay" class="serverprocessingdisplay"  >Contacting Server...</div>

<div id="dialog" class="IntroGameDiv">
    <div>
         @SpaceRogueRevolution.GameResource.IntroGameText
    </div>
    <div style="position:absolute;vertical-align:bottom">   
        <input type="button" value="Continue" onclick="$('#dialog').hide(1000);" />
    </div> 
</div>
<div id="gameOverScreen" class=GameOverDiv">
    <div>
          @SpaceRogueRevolution.GameResource.GameOverText
    </div>
    <div style="position:absolute;vertical-align:bottom">   
        <input type="button" value="OK" onclick="location.reload(true);" />
    </div> 
</div>
<div id="HowToPlayDiv" class="HowToPlayDiv">
    <div>
        @SpaceRogueRevolution.GameResource.HelpText
    </div>
    <div style="position:absolute;vertical-align:bottom">
        <input type="button" value="Close" onclick="$('#HowToPlayDiv').hide(1000);" />
    </div> 
</div>
<div id="GameDiv" class="GameDiv" >
</div>
<script type="text/javascript">
    $(document).ready(function()
    {
        var IsServerProcessing = false;
        var currentJob = null;
        var clickCount = 0;
        var gameData;
        var jobs;
        var docked = false;
        var cash = 0;
        var jobText = "";

        var playerSpaceshipMoveDistance = 5;
        var galaxyWidth = 500;
        var galaxyHeight = 500;

        $('#AboutDiv').hide();
        $('#HowToPlayDiv').hide();
        $('#BugsDiv').hide();
        $('#gameOverScreen').hide();
        

        var drawScreen = function () {
            $('#gameDiv').show();
            var loadedImages = 0;
            var images = [];
            var ctx = document.getElementById('canvas').getContext('2d');
            ctx.fillStyle = "rgba(0,0,0,1)";
            ctx.fillRect(0, 0, galaxyHeight, galaxyWidth);
            var draw = function () {
                for (i = 0; i < gameData.length; i++) {
                    var item = gameData[i];
                    ctx.drawImage(images[i], item.col, item.row, 20, 20);
                };
            };

            for (i = 0; i < gameData.length; i++) {
                var image = new Image();
                var item = gameData[i];
                image.addEventListener("load", function () {
                    loadedImages++;
                    if (loadedImages == gameData.length) {
                        draw();
                    }
                }, false);
                image.src = item.FileName;
                images.push(image);
            }
        };

        //SYNC PROCESS SERVER RESPONSE METHOD
        var processSyncData = function (data) {
            gameData = data;
            $('#serverprocessingdisplay').hide(1000);
            IsServerProcessing = false;
            drawScreen();
        };

        //JOB REQUEST SERVER RESPONSE METHOD
        var processJobData = function (data) {
            jobs = data;
            $('#GameDiv').text('');
            $('#GameDiv').append("<div><b>Jobs</b></div>");
            $('#GameDiv').show(1000);
            for (var i = 0; i < data.length; i++) {
                var planet = getPlanetByID(jobs[i].DestinationID);
                if (planet != null) {
                    $('#serverprocessingdisplay').hide(1000);
                    IsServerProcessing = false;

                    jobString = jobs[i].Description + ":" + planet.Description;
                    
                    $('#GameDiv').append("<div> ID: " + i + " -" + jobString + "</div>");
                }
            }
        };

        var callServer = function (id, route, successFunction, commandObject) {
            $('#serverprocessingdisplay').show(10);
            IsServerProcessing = true;
            $.ajax({
                type: "POST",
                url: route,
                data: JSON.stringify(commandObject),
                contentType: 'application/json',
                success: successFunction
            });
        };

        var getPlanetByID = function (id) {
            for (var i = 0; i < gameData.length - 1; i++) {
                if (gameData[i].ID == id)
                    return gameData[i];
            }
            return null;
        };

        var getPlanetByCoords = function (x,y) {
            for (var i = 0; i < gameData.length - 1; i++) {
                if (gameData[i].col == x && gameData[i].row ==y )
                    return gameData[i];
            }
            return null;
        };

        //KEYBOARD HANDLER
        var getKeyBoardAction = function (evt) {
            var playerSpaceShip = gameData[0];
            switch (evt.keyCode) {
                case 65:
                    if (playerSpaceShip.col - playerSpaceshipMoveDistance >=0)
                        gameData[0].col -= playerSpaceshipMoveDistance;
                    break;
                case 87:
                    if (playerSpaceShip.row - playerSpaceshipMoveDistance >= 0)
                        gameData[0].row -= playerSpaceshipMoveDistance;
                    break;
                case 83:
                    if (playerSpaceShip.col + playerSpaceshipMoveDistance < galaxyWidth)
                        gameData[0].col += playerSpaceshipMoveDistance;
                    break;
                case 90:
                    if (playerSpaceShip.row + playerSpaceshipMoveDistance < galaxyWidth)
                        gameData[0].row += playerSpaceshipMoveDistance;
                    break;
                case 48: case 49: case 50: case 51: case 52: case 53: case 54: case 55: case 56: case 57:
                    //jobs
                    if (docked) {
                        var index = Math.abs(48 - evt.keyCode);
                        currentJob = jobs[index];
                        jobText = "You have picked up the job " + currentJob.Description;
                    }
                    else {
                        jobText = "You are not docked";
                    }
                    $('#GameDiv').text(jobText);
                    break;
                case 74:
                    if (currentJob != null) {
                        $('#GameDiv').text(currentJob.Description);
                    }
                    else {
                        $('#GameDiv').text("You don't have a job");
                    }
                    break;
                default:
                    break;
            }
            
            var oldDockState = docked;
            docked = false;
            for (var i = 1; i < gameData.length-1; i++) {
                if (intersect(gameData[i].col, gameData[i].row, gameData[0].col, gameData[0].row)) {
                    var planet = getPlanetByCoords(gameData[i].col, gameData[i].row);
                    if (planet.FileName != "/Content/Images/gas.png") {
                        docked = true;
                        if (currentJob == null) {
                            $("#GameDiv").text('Docking');
                            var id = gameData[i].ID
                            commandObject = { planet: id }
                            callServer(id, '@Url.Action("Docking","Home")',processJobData,commandObject);
                        }
                        else {
                           
                            if (planet != null) {
                                if (intersect(planet.col, planet.row, gameData[i].col, gameData[i].row)) {
                                    cash += currentJob.Value;
                                    $('#GameDiv').text("job done you earned " + currentJob.Value);
                                    
                                    if (cash >= 1000) {
                                        $('#gameOverScreen').show(1000);
                                    }
                                    currentJob = null;
                                }
                            }
                        }
                    }
                }

            }

            if (oldDockState == true && docked == false)
                    $("#GameDiv").text('');
            
        };


        var doKeyDown = function (evt) {
            if (!IsServerProcessing) {
                var command = new String();
                getKeyBoardAction(evt);
                drawScreen();
                if (clickCount++ > 5) {
                    commandObject = { map: gameData };
                    callServer(null, '@Url.Action("Sync","Home")', processSyncData, commandObject);
                    //syncServer(gameData, evt.keyCode);
                    clickCount = 0;
                }
            }
        };

        var intersect = function (firstX, firstY, secondX, secondY)
        {
            if (firstX == secondX && firstY == secondY)
                return true;

            if ((Math.abs(firstX - secondX)  <=10) && (Math.abs(firstY - secondY)<=10))
                return true;

            return false;
        };

        var action = "";
        window.addEventListener('keydown', doKeyDown, true);
        

        $("#canvas").mousedown(function (e) {
            var fixedX = e.clientX - 8;
            var fixedY = e.clientY - 9;
            //determine any intersections
            for(var i=0;i<gameData.length;i++)
            {
                if (intersect(gameData[i].col, gameData[i].row, fixedX, fixedY)) {
                    $("#GameDiv").text(gameData[i].Description);
                }
            }
            $("#message").text("clicked: " + fixedX + ":" + fixedY);
        });
        commandObject = { map: gameData };
        callServer(null, '/Home/Sync', processSyncData, commandObject);
        //syncServer();
    });
</script>



