@model SpaceRogueRevolution.Models.Galaxy

 @if(Model!=null)
    {
<table>
    <tr>
        <th></th>
    </tr>
<!-- Screen -->
   
        @for(int row =0;row<30;row++ ) {
        <tr>    
            @for(int col =0;col<30;col++ ){
            <td class="tile">
               <a href="@Url.Action("Move",new SpaceRogueRevolution.Models.Coord {Row=row,Col=col})"> <img src='@Url.Content("~/Content/Images/" + @Model.map[row,col].FileName)'  class="tileImage" /></a>
            </td>
            }
        </tr>
        }
    </table>
    }
    else
    {
        <h1>No data present to display</h1>
    }




<!--Nav Controls-->
<div>
    @Html.ActionLink("N","Move","Galaxy")
     @Html.ActionLink("S","Move","Galaxy")
     @Html.ActionLink("S","Move","Galaxy")
     @Html.ActionLink("S","Move","Galaxy")
</div>
